* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sales-items {
    display: grid;
    gap: 10px; /* Расстояние между элементами */
    grid-template-columns: repeat(4, 1fr);
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.hits-items {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Расстояние между элементами */
  }
  
  .hit-item {
    flex: 1 1 23%; /* Каждый элемент занимает ~23% ширины (4 элемента в строке) */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .carousel-item {
    transition: transform 0.5s ease-in-out;
  }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a, a:hover {
    text-decoration: none;
}

.acc-btn {
    color: white !important;
}

/* Медиа-запрос для маленьких и средних разрешений */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Меняем направление на столбец */
        align-items: flex-start; /* Выравниваем элементы по левому краю */
    }

    .header > div {
        margin-bottom: 10px; /* Добавляем отступ между элементами */
        width: 100%;
    }

    .header > div:last-child {
        margin-bottom: 0; /* Убираем отступ у последнего элемента */
    }

    .sales-items {
        grid-template-columns: repeat(2, 1fr);
    }
}


